{% extends "base.html" %}

{% block title %}Charlie Pet Hospital - Charlie User{% endblock %}
{% block background %}
    style="background-image: url(/static/img/background-1.jpg);background-size: 100%,100%"
{% endblock %}
{% block nav %}
    <li><a href="{{ url_for('user.adm_user') }}" id="nav">User</a></li>
    <li><a href="#" id="nav">Pet</a></li>
    <li><a href="{{ url_for('serve.adm_serve') }}" id="nav">Serve</a></li>
{% endblock %}

{% block body %}
    {#adm serve nav#}
    <div id="adm_serve_nav">
        <ul class="nav nav-stacked">
            <li>
                <a href="{{ url_for('serve.serve_add') }}" id="adm_serve_menu">
                    <img id="add_serve_image" src="/static/img/add.png">
                    Add Serve
                </a>
            </li>
            <li><a href="{{ url_for('serve.adm_serve') }}" id="adm_serve_menu">All</a></li>
            <li><a href="/serve/search_adm?query=Cat" id="adm_serve_menu">Cat</a></li>
            <li><a href="/serve/search_adm?query=Dog" id="adm_serve_menu">Dog</a></li>
            <li><a href="/serve/search_adm?query=Vaccine" id="adm_serve_menu">Vaccine</a></li>
            <li><a href="/serve/search_adm?query=Operation" id="adm_serve_menu">Operation</a></li>
            <li><a href="/serve/search_adm?query=Health Examination" id="adm_serve_menu">Health Examination</a></li>
            <li><a href="/serve/search_adm?query=Expelling parasiting" id="adm_serve_menu">Expelling parasiting</a></li>
        </ul>
    </div>

    {#search box#}
    <form method="GET" action="{{ url_for('serve.search_adm') }}">
        <div class="input-group input-group-lg" id="adm_serve_search">
            <input class="form-control" type="search" placeholder="Search Serve"
                   name="query">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
        </div>
    </form><!-- /input-group -->

    {#    scroll box#}
    <div id="serve_adm_scroll" style="overflow-x:hidden;">
        <table class="table table-hover" id="serve_adm_table" style="width: 1160px">
            <thead>
            <tr>
                <th>Name</th>
                <th onclick="sortTable('serve_adm_table',1)" style="cursor: pointer;">
                    Classification
                    <img src="/static/img/sort.png" style="width: 15px;height: 15px">
                </th>
                <th onclick="sortTable('serve_adm_table',2)" style="cursor: pointer;">
                    Object
                    <img src="/static/img/sort.png" style="width: 15px;height: 15px">
                </th>
                <th onclick="sortNum('serve_adm_table',3)" style="cursor: pointer;">
                    Price
                    <img src="/static/img/sort.png" style="width: 15px;height: 15px">
                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for serve in serves %}
                <tr>
                    <td><a href="{{ url_for('serve.serve_detail',serve_id = serve.id) }}"
                           style="color: black;text-decoration: none">{{ serve.servename }}</a></td>
                    <td>{{ serve.classification }}</td>
                    <td>{{ serve.obj }}</td>
                    <td>{{ serve.price }}</td>
                    <td><a href="{{ url_for('serve.serve_edit',serve_id = serve.id) }}"><img src="/static/img/edit.png"
                                                                                             style="height:18px;width: 18px;margin-left: 5px"></a>
                    </td>
                    <td><a href="{{ url_for('serve.serve_delete',serve_id = serve.id) }}"
                           onclick="return confirm('Are you sure you want to delete this item?');"><img
                            src="/static/img/delete.png" style="height:18px;width: 18px;margin-left: 12px"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}