#navbar {
    background-color: rgba(0, 0, 0, 0.35);
}

#logo {
    width: 500px;
    height: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

li {
    list-style-type: none;
    float: left;
}

#nav {
    display: block; /*Turn a into a block*/
    width: 100px; /*Set the width of the block*/
    height: 62px; /*Set the height of the block*/
    line-height: 50px; /*Set the height of the font in the block*/
    background-color: #FFFFFF00;
    color: white;
    text-align: center; /*Center font*/
    text-decoration: none; /*Remove the underline*/
    font-size: 20px;
    margin-top: 10px;
}
#nav:hover,#nav:active{
    background-color: rgba(0, 0, 0, 0.51);
}


#sign-in{
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
}
#in-title{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #5885D5FF;
    font-weight: bold;
}
#in-text{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

#sign-up{
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
}

#adm_serve_nav{
    position: fixed;
    top: 70px;
    width: 250px;
    height: 680px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
}

#adm_serve_menu{
    color: white;
    font-size: 20px;
    margin-top: 33px;
}
#adm_serve_menu:hover,#adm_serve_menu:active{
    background-color: rgba(0, 0, 0, 0.51);
}

#add_serve_image{
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

#adm_serve_search{
    position: fixed;
    top: 100px;
    left: 500px;
    width: 700px;
}

#as-title{
    color: white;
}
#add-serve{
    width: 700px;
    margin-top: 170px;
    margin-left: 500px;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    height: 575px;
}


#serve_adm_scroll{
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    height: 550px;
    width: 1200px;
    margin-top: 170px;
    margin-left: 300px;
}
#serve_adm_table{
    margin-top: 10px;
    margin-left: 20px;
}
#serve_adm_order{
    top: 110px;
    left: 1250px;
}

.dropdown-item{
    display:block;
    width:100%;
    padding:.25rem 1.5rem;
    clear:both;
    font-weight:400;
    color:#212529;
    text-align:inherit;
    white-space:nowrap;
    background-color:transparent;
    border:0}

#user_scroll{
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    height: 550px;
    width: 1200px;
    margin-top: 170px;
    margin-left: 170px;
}

#user_search{
    position: fixed;
    top: 100px;
    left: 400px;
    width: 700px;
}

#add-user{
    position: fixed;
    top: 115px;
    left: 1150px;
}

#add_user{
    width: 700px;
    margin-top: 200px;
    margin-left: 400px;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    height: 450px;
}

#adm_pet_menu{
    color: white;
    font-size: 20px;
    margin-top: 5px;
}
#adm_pet_menu:hover,#adm_serve_menu:active{
    background-color: rgba(0, 0, 0, 0.51);
}

#pet-table{
    margin-top: 100px;
}
#pet{
    background-color: rgba(255, 255, 255, 0.42);
    width: 700px;
    height: 200px;
    border-radius: 12px;
    margin-top: 10px;
}

#edit-pet{
    width: 700px;
    margin-top: 140px;
    margin-left: 450px;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    height: 575px;
}

#add-serve-to-pet{
    width: 700px;
    margin-top: 230px;
    margin-left: 500px;
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    height: 350px;
}

#serve_pet_scroll{
    background-color: rgba(255, 255, 255, 0.42);
    border-radius: 12px;
    height: 600px;
    width: 1200px;
    margin-top: 130px;
    margin-left: 200px;
}