#navbar {
    background-color: #5885D5FF;
}

#logo {
    width: 70px;
    height: 70px;
}

.navbar-name {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

li {
    list-style-type: none;
    float: left;
}

#nav {
    display: block; /*Turn a into a block*/
    width: 100px; /*Set the width of the block*/
    height: 62px; /*Set the height of the block*/
    line-height: 50px; /*Set the height of the font in the block*/
    background-color: #FFFFFF00;
    color: white;
    text-align: center; /*Center font*/
    text-decoration: none; /*Remove the underline*/
    font-size: 20px;
}
#nav:hover,#nav:active{
    background-color: #3c73d2;
}


#sign-in{
    margin-top: 15%;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 12px;
}
#in-title{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #5885D5FF;
    font-weight: bold;
}
#in-text{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

#sign-up{
    margin-top: 10%;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 12px;
}