#navbar {
    background-color: rgba(0, 0, 0, 0.35);
}

#logo {
    width: 500px;
    height: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

li {
    list-style-type: none;
    float: left;
}

#nav {
    display: block; /*Turn a into a block*/
    width: 100px; /*Set the width of the block*/
    height: 62px; /*Set the height of the block*/
    line-height: 50px; /*Set the height of the font in the block*/
    background-color: #FFFFFF00;
    color: white;
    text-align: center; /*Center font*/
    text-decoration: none; /*Remove the underline*/
    font-size: 20px;
    margin-top: 10px;
}
#nav:hover,#nav:active{
    background-color: rgba(0, 0, 0, 0.51);
}


#sign-in{
    margin-top: 15%;
    background-color: rgba(210, 210, 210, 0.68);
    border-radius: 12px;
}
#in-title{
    margin-top: 10%;
    margin-bottom: 5%;
    color: #5885D5FF;
    font-weight: bold;
}
#in-text{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}

#sign-up{
    margin-top: 10%;
    background-color: rgba(210, 210, 210, 0.68);
    border-radius: 12px;
}

#adm_serve_nav{
    margin-top: 70px;
    width: 250px;
    height: 682px;
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
}

#adm_serve_menu{
    color: white;
    font-size: 20px;
    margin-top: 40px;
}
#adm_serve_menu:hover,#adm_serve_menu:active{
    background-color: rgba(0, 0, 0, 0.51);
}