<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/hospital.css">
    <script src="/static/js/jquery2.1.1jquery.min.js"></script>
    <script src="/static/js/bootstrap3.3.7jsbootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/hospital.js"></script>
</head>
<body {% block background %}{% endblock %}>
<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <li>
        <a class="navbar-logo">
            <img id="logo" alt="Brand" src="/static/img/logo.png">
        </a>
    </li>
    <ul class="menu">
        {% block nav %}{% endblock %}
        {% if user %}
            <div style="position:absolute;right: 50px">
                <li><a href="{{ url_for('user.personal_edit',user_id = user.id) }}" id="nav">{{ user.username }}</a></li>
                <li><a href="{{ url_for('user.sign_out') }}" id="nav">Sign out</a></li>
            </div>
        {% else %}
            <div style="position:absolute;right: 50px">
                <li><a href="{{ url_for('user.sign_in') }}" id="nav">Sign in</a></li>
                <li><a href="{{ url_for('user.sign_up') }}" id="nav">Sign up</a></li>
            </div>
        {% endif %}
    </ul>
</nav>
{% block body %}{% endblock %}
</body>
</html>