{% extends "base.html" %}

{% block title %}Charlie Pet Hospital - Home{% endblock %}
{% block background %}
style="background-image: url(/static/img/background-1.jpg);background-size: 100%,100%"
{% endblock %}
{% block nav %}
    <li><a href="{{ url_for('user.index_user') }}" id="nav">Home</a></li>
    <li><a href="{{ url_for('user.serve') }}" id="nav">Serve</a></li>
    <li><a href="{{ url_for('pet.user_pet',user_id = user.id) }}" id="nav">Pet</a></li>
{% endblock %}

{% block body %}
    {#add pet#}
    <div id="edit-pet" style="overflow-x:hidden;">
        {# title #}
        <div style="width: 600px;float: left;margin-top: 10px;margin-bottom: 10px">
            <h1 style="color: #5885D5FF;font-weight: bold;margin-left: 280px">Add Pet</h1>
        </div>
        {# close #}
        <div style="width: 100px;float: right;">
            <a href="{{ url_for('pet.user_pet',user_id = user.id) }}" style="margin-left: 70px">
                <img src="/static/img/close.png" style="width: 30px;height: 30px">
            </a>
        </div>
        {# form #}
        <form class="form-horizontal" action="{{ url_for("pet.user_add_pet",user_id = user.id) }}" method="post">
            <div class="row" style="margin-left: 15%;margin-right: 15%;">
                {# pet name #}
                <div class="form-group">
                    <label for="petname">Pet Name</label>
                    <input type="text" class="form-control" id="petname"
                           placeholder="Please input the pet name"
                           name="petname">
                </div>
                {# master email #}
                <div class="form-group">
                    <label for="email" class="fs-1">Email</label>
                    <input type="email" class="form-control" id="email"
                           placeholder="Please input the email"
                           name="email" style="pointer-events: none" value="{{ user.email }}">
                </div>
                {# species #}
                <div class="form-group">
                    <div style="float: left;margin-top: 5px">
                        <label for="species">Species</label>
                    </div>
                    <div style="float: right;margin-right: 340px">
                        <label class="radio-inline">
                            <input type="radio" name="species" id="species-Cat" value="Cat">Cat
                        </label>
                        <label class="radio-inline">
                                <input type="radio" name="species" id="species-Dog" value="Dog">Dog
                        </label>
                    </div>
                </div>
                {# breed #}
                <div class="form-group">
                    <label for="breed">Breed</label>
                    <input type="text" class="form-control" id="breed"
                           placeholder="Please input the breed"
                           name="breed">
                </div>
                {# sex #}
                <div class="form-group">
                    <div style="float: left;margin-top: 5px">
                        <label for="sex">Sex</label>
                    </div>
                    <div style="float: right;margin-right: 340px">
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="sex-Male" value="Male">Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" id="sex-Female" value="Female">Female
                        </label>
                    </div>
                </div>
                {# birthday #}
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday"
                           name="birthday">
                </div>
                {#Error message Prompt#}
                {% for message in get_flashed_messages() %}
                    <div class="form-group">
                        <div class="text-danger">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
                {#Edit button#}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 5px">Add</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}